* {

    font-family: Arial, Helvetica, sans-serif
}

.recipe-name {
    color: rgb(121, 66, 22);
    text-transform: uppercase;
    text-align: ce;
}

h2 {
    color: rgb(179, 112, 57);
}

img {
    width: 300px;
    height: auto;
}
