* {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 700px;
    margin: 0 auto;
}

.recipe-name {
    color: rgb(121, 66, 22);
    text-transform: uppercase;
    text-align: ce;
}

h1 {
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}

h2 {
    color: rgb(179, 112, 57);
}

ul li a {
    display: inline-block;
    padding: 5px;

}



img {
    width: 300px;
    height: auto;
}
